/
header{
    display: flex;
    justify-content: space-between;
    margin-left: -6%;
    margin-right: -6%;
    padding: 15px;
    margin-bottom: 3%;
    background-color: white;
    height: 120px;
}

header img{
    margin-bottom: auto;
    margin-top: auto;
    max-width: 100px;
    width: auto;
}
header a{
    margin-left:3%
}
header h1{
    white-space: nowrap;
    text-align: center;
    font-size: 4rem;
    margin: auto;
}/* 
header > button{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3rem;
    width: 50px;
    margin-left: 3%;
} */