
header{
    
    background-color: white;

}
 header a{
    justify-content: center;
    align-content: center;
    flex-direction: column;
   
 }
 a img{
    width: 75%;
    height: 75%;
 }

header h1{
    white-space: nowrap;
    text-align: center;
    font-size: 4rem;
   
}
 header > button{
 
    min-width: 50px;
    visibility: collapse;
} 

.oculto{
    display:none;
}
@media screen and (max-width: 800px){
    header > button{
       visibility: visible;
    }
    header h1{
       
        font-size: 3rem;
       
    }
}
@media screen and (max-width: 55it 0px){
    header > button{
       visibility: visible;
    }
    header h1{
        font-size: 2rem;
    }
   .col-8{
     max-width: 50%;
   }
}
@media screen and (max-width: 400px){
    header > button{
       visibility: visible;
    }
    header h1{
      
        font-size: 1rem;
       
    }
    a img{
        width: 75%;
        height: 75%;
     }
}

