
header{
    
    background-color: white;

}
 header > a{
    justify-content: center;
    align-content: center;
    flex-direction: column;
 }

header h1{
    white-space: nowrap;
    text-align: center;
    font-size: 4rem;
   
}
 header > button{
 
    min-width: 50px;
    visibility: collapse;
} 
.oculto{
    display:none;
}
@media screen and (max-width: 800px){
    header > button{
       visibility: visible;
    }
    header h1{
       
        font-size: 3rem;
       
    }
}
@media screen and (max-width: 500px){
    header > button{
       visibility: visible;
    }
    header h1{
       
        font-size: 2rem;
       
    }
}
