<div class="container">
  <div class="row">
    <div class="col-10">
<div id="datosEnviados" class="oculto">
  <h2>Datos</h2>
 
   

      <label class="col">Nombre: <label id="nombreDatos"  > {{datosD.nombre}}</label></label>
      <label class="col">Email: <label id="emailDatos" > {{datosD.email}}</label> </label>
      <label class="col" >Experiencia en deportes de riesgo: <label id="experienciaDatos"> {{datosD.experienciaDatos}}</label> </label>
      <label class="col">Envianos tu opinión: <label id="opinionDatos"> {{datosD.opinionDatos}}</label></label>
      <label class="col">Deseo recibir noticias y oportunidad sobre salto base: <label id="checkboxDatos" > {{datosD.checkbox}}</label> </label>
  


<label class="center">
  <a routerLink="../autores" id="linkAutores" title="linkAutores" routerLinkActive = "active">Autores</a> /
  <a routerLink="../formulario" id="linkFormulario" class="desactivo" routerLinkActive = "active">Contacta con nosotros:</a>
</label>
    </div>
  </div>
</div>