<nav id="menu_escritorio">
  <ul class="flex">
      <li><a href="#" routerLinkActive="active" routerLink="inicio" title="home">Inicio</a></li>
      <li><a href="#" routerLinkActive="active" routerLink="centros" title="centros">Centros</a></li>
      <li><a href="#" routerLinkActive="active" routerLink="historia" title="historia">Historia</a></li>
      <li><a href="#" routerLinkActive="active" routerLink="competiciones" title="competiciones">Competiciones</a></li>
      <li><a href="#" routerLinkActive="active" routerLink="about" title="about">About</a></li>
  </ul>    
</nav>