<aside>
  <h4>Valery Rozov logra una nueva marca mundial al saltar desde 7.700 metros.</h4>
  <div><iframe src="https://www.youtube.com/embed/26XKztYw0SA" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>
  <p>Hay gente a la que le gusta la comodidad del cuarto de estar y hay otra que no puede parar de batir récords uno tras otro. Valery Rozov, leyenda del salto BASE, es desde luego un buen ejemplo de la segunda categoría.</p>
  <p>Un nuevo récord para la leyenda rusa. El 5 de octubre de 2016, después de una expedición de 21 días en el sexto pico más alto del mundo (el monte Cho Oyu en la frontera de Nepal y China), Rozov se asomó a la caída de 7.700 metros y saltó al fino aire. De esta manera batía en 500 metros su propio récord.
  </p>
</aside>