label:nth-of-type(even):not(.margen), .margen{
    margin-left: 0.5rem;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.puntero, a, a span, span label{
    cursor: pointer;
}
button{
    border-radius: 1rem;
    margin-left:-1% 
}

div>span{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.entrada{
    margin-left: 1%;
  
    border-radius: 10px;
    border: 1px    solid grey;
}
.negrita{
    color:black;
}
