<footer class="bot row col">
  <div class="nombres col-5">
      <div id="hcard-Diego-Garzon-Molina" class="vcard">
              <span class="fn n">
              <span class="given-name">Diego</span>
               <span class="additional-name"></span>
               <span class="family-name">Garzon Molina</span>
             </span>
             </div>
             <div id="hcard-Jesus-Perucha" class="vcard">
                  <span class="fn n">
                     <span class="given-name">Jesus</span>
                   <span class="additional-name"></span>
                   <span class="family-name">Perucha Perez</span>
                 </span>
                 </div>
              </div>
              <div class="direccion col-5">
              <div class="org">Babel</div>
              <div class="adr">
               <span class="street-address">Av America</span>
               <span class="locality">(Madrid)</span>
              </div>
              </div>
              <div class="col-1">
              <img class="" src="assets/Babel.png"  alt="Logo Salto Base">
            </div>
</footer>
