<footer class="bot row">
  <div class="nombres col-6">
      <div id="hcard-Diego-Garzon-Molina" class="vcard">
          <span class="fn n">
              <span class="given-name">Diego</span>
              <span class="additional-name"></span>
              <span class="family-name">Garzon Molina</span>
          </span>
      </div>
      <div id="hcard-Jesus-Perucha" class="vcard">
        <span class="fn n">
            <span class="given-name">Jesus</span>
            <span class="additional-name"></span>
            <span class="family-name">Perucha Perez</span>
        </span>
      </div>
  </div>
  <div class="direccion col-2">
    <div class="org">Babel</div>
      <div class="adr">
          <div class="street-address">Av America <span class="locality">(Madrid)</span>
          </div>
      </div>
     
        
    </div>
    <div class="col p-0">
    <figure class="m-0" >
            <img class="" src="assets/Babel.png"  alt="Logo Salto Base">
            </figure>
        </div>    
</footer>
